html,body
{
  background-color: #ffdab9;
}
#line 
{
    background-color: #c2e69e;
  width: 100%;
  margin: 0 auto;
  height: 100px;
  font-size: 60px;
  color: #008000;
}
#logotip 
{
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 340px;
  margin-left: 480px;
}
.menu ul li
{
  list-style-type: none;
  display: inline-block;
  margin-right: 160px;
  text-align: center;
} 
.menu
{
  background-color: #c2e69e;
  width: 960px;
  margin: 25px;
  margin-left:480px;
  height: 50px;
}
.adresa
{
  background-color: #c2e69e;
  width: 960px;
  margin: 25px;
  margin-left:480px;
}
table 
{
  border: 1px solid #c2e69e;
  width: 900px;
  background: #ffff;
}
td, th 
{
    padding: 3px;
}
th 
{
  text-align: center;
  padding: 10px; 
  border: 1px solid #A9E2CC;
}
td 
{
  text-align: center;
  font-size: 0.8em;
  padding: 5px 7px;
  border: 1px solid #A9E2CC;
}
tr.even 
{
  background: #256902;
}
.table
{
  background-color: #c2e69e;
  width: 960px;
  margin: 25px;
  margin-left: 480px;
}
.forma
{
  background-color: #c2e69e;
  width: 960px;
  margin: 25px;
  margin-left: 480px;
}
.footer
{
  background-color: #c2e69e;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  height: 50px;
  color: #008000;
  font-size: 30px;
}
